body {
    background-color: #ffffff;
    height: max-content;
}

.MuiTypography-noWrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.MuiTypography-h1 {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}

.MuiTypography-root {
    margin: 0;
}

.jssWA1 {
    color: unset;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* table */
.table_container {
    width: 80%;
    border-radius: 25px;
    border: 2px solid #f4b548;
    padding: 20px;
}

table {
    width: 100%;
    table-layout: fixed;
    /*background-color: #25b7c4; */
    background-color: #ffffff;
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    /*color: #fff; */
    color: rgb(0, 0, 0);
    text-transform: uppercase;

    background-color: #e0ebeb;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: rgb(0, 0, 0);
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 0px;
}

.tbl-content tr:nth-child(even) {
    background-color: #eff5f5;
}

.tbl-content tr:nth-child(odd) {
    background-color: #ffffff;
}

/* *** */

@media screen and (max-width: 550px) {
    
    .new_device_form,
    .remove_device_form,
    .add_button {
        width: 25%;
        margin-top: 0;
    }
}

@media screen and (max-width: 550px) {
    .new_deviceID_select,
    .new_deviceName_select,
    .device-id-select, 
    .sensor-id-select , 
    .device-id-select-button, 
    .sensor-id-select-button {
        width: 40%;
        margin-top: 0;
    }
}
/* *** */

.div_containers, .add_device {
    width: 80%;
    padding: 20px;
    border-radius: 25px;
    border-style: solid;
    border-width: thin;
    border-color: #ccccb3;
}

/* Add device form */
.new_device_form,
.remove_device_form {
    border: thin solid #f4b548;
    border-radius: 4px;
    height: 30px;
}

/* Add device button */
.add_device button {
    border-radius: 5px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    --b: 1px;
    height: 30px;
    width: 30px;
    aspect-ratio: 1/1;
    border: 10px solid white;
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #fff 90deg, #f4b548 0) calc(100% + var(--b)/2) calc(100% + var(--b)/2)/ calc(50% + var(--b)) calc(50% + var(--b));

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    display: inline-block;
}

/* *** */

/* Remove device form */
.remove_device button {
    border-radius: 5px;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;

    --b: 1px;
    height: 30px;
    width: 30px;
    aspect-ratio: 1/1;
    border: 10px solid white;
    background:
        conic-gradient(from 90deg at var(--b) var(--b), #fff 180deg, #f4b548 0) calc(100% + var(--b)/2) calc(100% + var(--b)/2)/ calc(50% + var(--b)) calc(50% + var(--b));

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

    display: inline-block;

}

/* *** */

/* select form */
.new_deviceID_select, .new_deviceName_select, .sensors_structure, .device-id-select, .sensor-id-select {
    background-color: white;
    border: thin solid #f4b548;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.new_deviceID_select, .new_deviceName_select, .sensors_structure, .device-id-select, .sensor-id-select {
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.device-id-select:focus {
    background-image:
        linear-gradient(45deg, red 50%, transparent 50%),
        linear-gradient(135deg, transparent 50%, red 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 15px) 1em,
        calc(100% - 20px) 1em,
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
    border-color: red;
    outline: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}


/* select form button */
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

button:focus {
    outline: 0;
}

button {
    padding: 10px 20px;
    outline: 1px solid #f4b548;
}

.device-id-select-button, .sensor-id-select-button {
    background-color: white;
    border-radius: 10px;
}

/* *** */
