body {
  background-color: #ffffff;
  height: max-content;
}

h1{
  text-align: center;
}

/* accordion styling */
.accordion {
  width: 60%;
  margin: auto;
  color: black;
  background-color: #f1f1f1;
  border-radius: 0.25rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 10px 0px;
  padding: 45px 45px;    
}
.accordion .container {
  position: relative;
  margin: 10px 10px;
}
.accordion .accordion-title {
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  color: black;
  cursor: pointer;
}
.accordion .accordion-content {
  position: relative;
  display: none;
}

/* Sensor parameters */
.sensor_type_outer_div {
  display: flex;
  gap: 1px;
}
.sensor_parameters .sensor_age{
  border: thin solid #f4b548;
  border-radius: 4px;
  height: 30px;
}
.sensor_parameters .sensor_max_value, .sensor_min_value{
  border: thin solid #f4b548;
  border-radius: 4px;
  height: 30px;
}
/* *** */

/* Soil parameters */
.soil_parameters select {
  background-color: white;
  border: thin solid #f4b548;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em; 
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}
.soil_parameters select:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}
.soil_parameters select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.soil_values{
  border: thin solid #f4b548;
  border-radius: 4px;
  height: 30px;
}
.soil_temperature_outer_div {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 10px 0px;
}
.soil_temperature {
  padding: 0.6rem;
}
/* *** */

/* Plant parameters */
.plant_parameters select {
  background-color: white;
  border: thin solid #f4b548;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em; 
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.plant_values{
  border: thin solid #f4b548;
  border-radius: 4px;
  height: 30px;
}

.plant_parameters select:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}
.plant_parameters select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
/* *** */

/* Weather parameters */
.weather-parameters select {
  background-color: white;
  border: thin solid #f4b548;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em; 
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}
/* *** */

/* Weather parameters */
.weather-parameters select.global_region {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}
.weather-parameters select.global_region:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}
.weather-parameters select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
.weather_values{
  border: thin solid #f4b548;
  border-radius: 4px;
  height: 30px;
}

/* Update button styling*/
button {
  padding: 10px 20px;
  outline: 1px solid #f4b548;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
button:focus {
  outline: 0;
}
.update_parameters{
  background-color: white;
  border-radius: 10px;
}
/* *** */


/* accordion layout for different displays */
.preview_sensor_config{
  display: block;
}
@media only screen and (min-width:390px) {
  #preview_sensor_config {
    display:inline-block;
  }
  .mobile {
    display:none;
  }
  .desktop {
    display:block;
  }
}