:root{
  --body_direction : ltr;
  /* switch to rtl for right-to-left*/

  /* these will be used to set the card footer images to reverse order*/
  --card_footer_images_float_left: left;
  --card_footer_images_float_right: right;
}

body {
  background-color: #ffffff;
  height: 100%;
  direction: var(--body_direction);
}

h1 {
  text-align: center;
}

/* Summary card styling */
.dashboard_summary {
  width: 95%;
  padding: 20px;
  border-radius: 0.6rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin: auto;
}

.dashboard_devices_data_summary {
  justify-content: center;
}

/* *** */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Cards styling */
.dashboard_cards_ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.dashboard_cards_item {
  display: flex;
  padding: 1rem;
}

.dashboard_card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 12px 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.dashboard_card_content {
  padding: 1rem;
  background-color: white;
}

.dashboard_card_content h2 {
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.dashboard_card_title {
  color: #000000;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0px;
  text-align: center;
}

.dashboard_card_text {
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.dashboard_card_sensor_value {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.dashboard_card_sensor_value img {
  height: 5rem;
}
/* *** */

/* Card footer section styling */
.dashboard_card_footer{
  display: flex;
  justify-content: space-between;

}
.dashboard_card_footer_sensor_image {
  float: var(--card_footer_images_float_left);
}
.dashboard_card_footer_sensor_image img {
  height: 3rem;
}

.dashboard_card_footer_graph {
  float: var(--card_footer_images_float_left);
}
.dashboard_card_footer_graph img {
  height: 3rem;
}

.dashboard_card_footer_sensor_configurator {
  float: var(--card_footer_images_float_right);
}
.dashboard_card_footer_sensor_configurator img {
  height: 3rem;
}
/* *** */