*{margin: 0;padding:0px}

.header{
    width: 100%;
    background-color: #0d77b6 !important;
    border:1px solid #fff;
    height: 60px;
}

.showLeft{
    background-color: #0d77b6 !important;
    border:1px solid #0d77b6 !important;
    text-shadow: none !important;
    color:#fff !important;
    padding:10px;
}

.icons li {
    background: none repeat scroll 0 0 #fff;
    height: 7px;
    width: 7px;
    line-height: 0;
    list-style: none outside none;
    margin-right: 15px;
    margin-top: 3px;
    vertical-align: top;
    border-radius:50%;
    pointer-events: none;
}

.btn-left {
    left: 0.4em;
}

.btn-right {
    right: 0.4em;
}

.btn-left, .btn-right {
    position: absolute;
    top: 0.24em;
}

.dropbtn {
    background-color: #4CAF50;
    position: fixed;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: absolute;
    display: inline-block;
    right: 0.4em;
}

.dropdown-content {
    display: none;
    position: relative;
    margin-top: 60px;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}