body {margin:0;font-family:Arial}

.topnav {
  overflow: hidden;
  background-color: #ffffff;
  margin: auto;
}

.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #f4b548;
  color: white;
}

.topnav .icon {
  display: none;
}

.topnav a:hover {
  background-color: #f4b548;
  color: white;
}

@media screen and (max-width: 760px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 760px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive {float: none;}
  .topnav.responsive {position: relative;}
  .topnav.responsive {
    display: block;
    width: 100%;
    text-align: left;
  }
}