<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>IIWA Devices</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/menu_bar.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/device_manager.css') }}" />

</head>

<body>
  <div class="topnav" id="myTopnav">
    <img src="{{ url_for('static', filename='images/intel-irris-logo.png') }}" height="40" style="vertical-align:middle;margin:4px 0px">
    <a href="{{ url_for('dashboard') }}" class="active"><img src="{{ url_for('static', filename='images/dashboard.png') }}" height="40" style="vertical-align:middle;margin:-14px 0px"></a>
    <a href="{{ url_for('intel_irris_device_manager') }}"><img src="{{ url_for('static', filename='images/device.png') }}" height="40" style="vertical-align:middle;margin:-14px 0px"></a>
    <a href="{{ url_for('intel_irris_sensor_config') }}"><img src="{{ url_for('static', filename='images/config.png') }}" height="40" style="vertical-align:middle;margin:-14px 0px"></a>    
    <div class="dropdown">
      <button class="dropbtn">Menu
        <i class="fa fa-caret-down"></i>
      </button>     
      <div class="dropdown-content">
      	<a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('intel_irris_device_manager') }}">Device Manager</a>
        <a href="{{ url_for('intel_irris_sensor_config') }}">Configuration</a>
      </div>
    </div>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>

  <div style="padding-left:16px; padding-top:16px">
    <h1 class="MuiTypography-root jssWA1 MuiTypography-h1 MuiTypography-noWrap">IIWA Device Manager</h1>
    <p>List of devices added to IIWA.</p>
    <div class="table_container">
      <p style="text-align:center"><em>Devices added to IIWA</em></p><br>
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th>Device Id</th>
              <th>Device Name</th>
              <th>Sensors</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody id="devices">
            <script type="text/javascript"
              src="{{ url_for('static', filename='js/update_devices_data.js') }}"></script>
          </tbody>
        </table>
      </div>
    </div>
    <script>
      $(window).on("load resize ", function () {
        var scrollWidth = $('.tbl-content').width() - $('.tbl-content table').width();
        $('.tbl-header').css({ 'padding-right': scrollWidth });
      }).resize();
    </script>
    
    <br>
    <p>Active device determines sensors values visualization and data source for humidity index value computation.</p>
    <div class="div_containers">
      <p style="text-align: center;"><em>Select an active device and sensor</em></p>
      <p id="deviceid">Active device: <span id="deviceid_id" style="color: red;"></span>. Select from list</p>
      <form action="{{ url_for('intel_irris_device_manager') }}" method="post">
        <label></label>
        <select name="device-id-select" class="device-id-select" id="device-id-select">
        </select>
        <button type="submit" value="submit" class="device-id-select-button">Select</button>
      </form>
      
      <br>
      <p id="sensorid">Active sensor: <span id="sensorid_id" style="color: red;"></span>. Select from list for Dashboard & humidity index value computation</p>
      <form action="{{ url_for('intel_irris_device_manager') }}" method="post">
        <label></label>
        <select name="sensor-id-select" class="sensor-id-select" id="sensor-id-select">
        </select>
        <button type="submit" value="submit" class="sensor-id-select-button">Select</button>
      </form>
    </div>
        
    <br>
    <p>Add/Remove a device using the form below.</p>
    <div class="add_device">
      <p style="text-align:center"><em>Add a device to IIWA</em></p><br>
      <form action="{{ url_for('intel_irris_device_manager') }}" method="post">
        <select name="device_name" class="new_deviceName_select" id="new_deviceName_select"
          onchange="showID(event)"
          required>
        </select>
        <br><br>
        <select name="device_id" class="new_deviceID_select" id="new_deviceID_select">
        </select>
        <br><br>
        <select name="sensors_structure" class="sensors_structure" required>
          <option value=""> -- Sensor(s) Structure -- </option>
          <option value="1_capacitive">1 Capacitive</option>
          <option value="1_watermark">1 Watermark</option>
          <option value="2_watermark">2 Watermark</option>
        </select>
        <br><br>
        <button type="submit" value="submit" class="add_button"></button>
      </form>
    </div>
    <br>
    
    <div class="div_containers">
      <div class="remove_device">
        <p style="text-align: center;"><em>Remove a device from IIWA</em></p><br>
        <form action="{{ url_for('intel_irris_device_manager') }}" method="post">
          <label for="device_id_remove">Remove : </label>
          <select name="device_id_remove" class="device-id-select" id="remove-device-id-select" required>
          </select>
          <button type="submit" value="submit" class="remove_button"></button>
        </form>
      </div>
    </div>
  </div>
  <br>
</body>
</html>