<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>IIWA Configuration</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sensor_config.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu_bar.css') }}" />

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
</head>

<body>
    <div class="topnav" id="myTopnav">
    <img src="{{ url_for('static', filename='images/intel-irris-logo.png') }}" height="40" style="vertical-align:middle;margin:4px 0px">
    <a href="{{ url_for('dashboard') }}" class="active"><img src="{{ url_for('static', filename='images/dashboard.png') }}" height="40" style="vertical-align:middle;margin:-14px 0px"></a>
    <a href="{{ url_for('intel_irris_device_manager') }}"><img src="{{ url_for('static', filename='images/device.png') }}" height="40" style="vertical-align:middle;margin:-14px 0px"></a>
    <a href="{{ url_for('intel_irris_sensor_config') }}"><img src="{{ url_for('static', filename='images/config.png') }}" height="40" style="vertical-align:middle;margin:-14px 0px"></a>    
    <div class="dropdown">
      <button class="dropbtn">Menu
        <i class="fa fa-caret-down"></i>
      </button>     
      <div class="dropdown-content">
      	<a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('intel_irris_device_manager') }}">Device Manager</a>
        <a href="{{ url_for('intel_irris_sensor_config') }}">Configuration</a>
      </div>
    </div>        <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
    </div>
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

    <div style="padding-left:16px; padding-top:16px">
        <script type="text/javascript">no_active = {{ no_active | tojson | safe }}</script>
        <script type="text/javascript"
            src="{{ url_for('static', filename='js/intel_irris_sensor_configuration.js') }}"></script>
        {% if no_active == True %}
        <p> {{no_device }}</p>

        {% else %}
        <h1 class="MuiTypography-root jssWA1 MuiTypography-h1 MuiTypography-noWrap">IIWA Sensor Configuration</h1>
        <p id="no_config_made"> No sensor configuration has been made!</p>
        <p id="active_device">Active Device: {{ deviceID }}</p>
        <p id="active_device">Active Sensor: {{ sensorID }}</p>
        <div class="preview_sensor_config">
            <h2 class="MuiTypography-root jssWA1 MuiTypography-h1 MuiTypography-noWrap">Settings for sensor
                configuration</h2>

            <p> Select a sensor to view its current configuration and update its parameters</p>
            <form action="" id="select_sensor_radio">
            </form>
        </div>
        <h3 class="MuiTypography-h1">Update configurations </h3>

        <form action="{{ url_for('intel_irris_sensor_config') }}" method="post">
            <div class="accordion-body">
                <div class="accordion">
                		<p>Sensor Type is the only mandatory parameter to be filled, other parameters can be left undefined</p>
                		<hr>
                    <div class="container">
                        <div class="accordion-title">Sensor parameters</div>
                        <div class="accordion-content">
                            <div class="sensor_parameters">
                                <br>
                                <select name="sensor_id" id="sensor_id_select" class="input" required>
                                </select>

                                <br>
                                <p> Sensor Type</p>
                                <ul style="list-style-type:none;">
                                    <li><input type="radio" id="capacitive" name="sensor_type" value="capacitive"
                                            required>
                                        <label for="capacitive">Capacitive</label>
                                    </li>
                                    <li><input type="radio" id="tensiometer_cbar" name="sensor_type" value="tensiometer_cbar">
                                        <label for="tensiometer_cbar">Tensiometer (cbar)</label>
                                    </li>
                                    <li><input type="radio" id="tensiometer_raw" name="sensor_type" value="tensiometer_raw">
                                        <label for="tensiometer_raw">Tensiometer (raw)</label>
                                    </li>                                    
                                </ul>
                                <p>Sensor age
                                    <input id="sensor_age" class="sensor_age" name="sensor_age" type="text"
                                        placeholder=" months ">
                                </p>
                                <p>Min value
                                    <input id="sensor_min" class="sensor_min" name="sensor_min" type="text"
                                        placeholder=" min sensor value ">
                                </p>        
                                <p>Max value
                                    <input id="sensor_max" class="sensor_max" name="sensor_max" type="text"
                                        placeholder=" max sensor value ">
                                
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="container">
                        <div class="accordion-title">Soil parameters</div>
                        <div class="accordion-content">
                            <div class="soil_parameters">
                                <p> Soil Type
                                    <select name="soil_type" id="soil_type" class="input">
                                        <option value="undefined"> Undefined</option>
                                        <option value="clay"> Clay</option>
                                        <option value="sandy"> Sandy</option>
                                        <option value="silty"> Silty</option>
                                        <option value="peaty"> Peaty</option>
                                        <option value="chalky"> Chalky</option>
                                        <option value="loamy"> Loamy</option>
                                    </select>
                                </p>
                                <div class="soil_irrigation_type">
                                    <p> Soil Irrigation Type </p>
                                    <ul style="list-style-type:none;">
                                        <li><input type="radio" id="undefined" name="soil_irrigation_type" value="undefined"
                                            >
                                            <label for="undefined">Undefined</label>
                                        </li>
                                        <li><input type="radio" id="furrow" name="soil_irrigation_type" value="furrow">
                                            <label for="furrow">Furrow</label>
                                        </li>
                                        <li><input type="radio" id="sprinkler" name="soil_irrigation_type" value="sprinkler">
                                            <label for="sprinkler">Sprinkler</label>
                                        </li>
                                        <li><input type="radio" id="drip" name="soil_irrigation_type" value="drip">
                                            <label for="drip">Drip</label>
                                        </li>
                                    </ul>
                                </div>
                                <p>Soil Salinity
                                    <input id="soil_salinity" class="soil_values" name="soil_salinity"
                                        type="text" placeholder=" empty or -1 for disabled ">
                                </p>
                                <p>Soil Bulk Density
                                    <input id="soil_bulk_density" class="soil_values" name="soil_bulk_density"
                                        type="text" placeholder=" empty or -1 for disabled ">
                                </p>
                                <br>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="container">
                        <div class="accordion-title">Soil temperature</div>
                        <div class="accordion-content">
                            <div class="soil_temperature">

                                <p>Please select a source for soil temperature data</p>
                                <div id="soil_temperatureForm" style="display: none;">
                                    <p id="p_currentSource">Current soil temperature source is <em><span
                                            id="span_currentSource"></span></em></p>
                                    <ul style="list-style-type:none;">
                                        <li><input type="radio" id="soil_temp_source" name="soil_temp_source"
                                                value="user">
                                            <label for="user">user input</label>
                                        </li>
                                        <li><input type="radio" id="soil_temp_source" name="soil_temp_source"
                                                value="sensor">
                                            <label for="sensor">real sensor</label>
                                        </li>
                                    </ul>
                                    <div id="show_sensor_field">
                                        <input id="soil_temperature_value" class="soil_values"
                                            name="soil_temperature_value" type="text" placeholder=" enter temperature">
                                        <br>
                                        <div id="soil_temperature_source">
                                            <p>Enter device id
                                                <input id="soil_temperature_device_id" class="soil_values"
                                                    name="soil_temperature_device_id" type="text"
                                                    placeholder=" enter device id"></li>
                                            </p>
                                            <p>Enter sensor id
                                                <input id="soil_temperature_sensor_id" class="soil_values"
                                                    name="soil_temperature_sensor_id" type="text"
                                                    placeholder=" enter sensor id"></li>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="container">
                        <div class="accordion-title">Plant parameters</div>
                        <div class="accordion-content">
                            <div class="plant_parameters">
                                <p> Plant/Crop
                                    <select name="plant_crop" id="plant_crop" class="input">
                                        <option value="undefined"> Undefined</option>
                                        <option value="cassava"> Cassava</option>
                                        <option value="maize"> Maize</option>
                                        <option value="plantains"> Plantains</option>
                                        <option value="potatoes"> Potatoes</option>
                                        <option value="rice"> Rice</option>
                                        <option value="sorghum"> Sorghum</option>
                                        <option value="soybeans"> Soybeans</option>
                                        <option value="sweet_potatoes,"> Sweet Potatoes</option>
                                        <option value="wheat"> Wheat</option>
                                        <option value="yam"> Yam</option>
                                    </select>
                                </p>
                                <p> Plant Sub-Type
                                    <select name="plant_sub_type" id="plant_sub_type" class="input">
                                        <option value="undefined">Undefined</option>
                                        <option value="sub_type_A">Sub-Type A</option>
                                        <option value="sub_type_B">Sub-Type B</option>
                                        <option value="sub_type_C">Sub-Type C</option>
                                        <option value="sub_type_D">Sub-Type D</option>
                                    </select>
                                </p>
                                <p>
                                    <label for="plant_planting_date">Planting Date</label>
                                    <input type="date" id="plant_planting_date" name="plant_planting_date"
                                        style=" border: thin solid #f4b548; border-radius: 4px;height: 30px;">
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="container">
                        <div class="accordion-title">Weather parameters</div>
                        <div class="accordion-content">
                            <div class="weather-parameters">
                                <p> Region
                                    <select name="weather_region" id="weather_region" class="input">
                                        <option value="undefined"> Undefined</option>
                                        <option value="arid"> Arid</option>
                                        <option value="semi-arid"> Semi-Arid</option>
                                        <option value="dry"> Dry</option>
                                    </select>
                                </p>
                            </div>
                        </div>
                    </div>
 										<hr>
 										
                    <br>
                    <button type="submit" value="submit" class="update_parameters">Update</button>
                </div>
            </div>
            <br>
        </form>
        {% endif %}

        <script>
            $(document).ready(function () {
                $('.accordion-title').click(function () {
                    if ($(this).hasClass('active')) {
                        $(this).removeClass('active').next('.accordion-content').slideUp();
                    }
                    else {
                        $('.accordion-title').removeClass('active');
                        $('.accordion-content').slideUp();
                        $(this).addClass('active').next('.accordion-content').slideDown();
                    }
                });
            });
        </script>
    </div>
</body>

</html>