<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>IIWA Dashboard</title>
  <!-- <meta name="description" content="" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="{{ url_for('static', filename='css/menu_bar.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" />

  <script type="text/javascript" src="{{ url_for('static', filename='js/apexcharts.js') }}"></script>
</head>

<body>
  <div class="topnav" id="myTopnav">
    <img src="{{ url_for('static', filename='images/intel-irris-logo.png') }}" height="40" style="vertical-align:middle;margin:4px 0px">
    <a href="{{ url_for('dashboard') }}" class="active"><img src="{{ url_for('static', filename='images/dashboard.png') }}" height="40" style="vertical-align:middle;margin:-14px 0px"></a>
    <a href="{{ url_for('intel_irris_device_manager') }}"><img src="{{ url_for('static', filename='images/device.png') }}" height="40" style="vertical-align:middle;margin:-14px 0px"></a>
    <a href="{{ url_for('intel_irris_sensor_config') }}"><img src="{{ url_for('static', filename='images/config.png') }}" height="40" style="vertical-align:middle;margin:-14px 0px"></a>    
    <div class="dropdown">
      <button class="dropbtn">Menu
        <i class="fa fa-caret-down"></i>
      </button>     
      <div class="dropdown-content">
      	<a href="{{ url_for('dashboard') }}">Dashboard</a>
        <a href="{{ url_for('intel_irris_device_manager') }}">Device Manager</a>
        <a href="{{ url_for('intel_irris_sensor_config') }}">Configuration</a>
      </div>
    </div>
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>    
  </div>
  <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
  </script>
  
  <div style="padding-left:16px; padding-top:16px">
    <h1 class="MuiTypography-root jssWA1 MuiTypography-h1 MuiTypography-noWrap">INTEL-IRRIS Irrigation WaziApp (IIWA)</h1>
    {% if no_devices == True %}
    <p>{{ added_devices}}</p>
    {% elif no_devices == False %}
    <p id="deviceid">Active device: <span id="deviceid_id"></span></p>
    <p id="sensorid">Active sensor: <span id="sensorid_id"></span></p>
    <p id="lastvalue">Last soil moisture value : <span id="lastvalue_value"></span></p>

    <br>
    <!-- <div class="semi-circle" id="semi-circle"></div> -->
		<p id="soil_condition" style="text-align:center; white-space: nowrap">Soil condition is {{ soil_condition }}</p>
    <!-- <p id="last_value_insight" style="text-align:center; white-space: nowrap"><span id="insight"></span></p> -->
    <br><br>
    <p id="no_sensor_error">Oops! Select a sensor id of the current device to see its data and compute the index value
    </p>
    <p id="sensor_id_error">Oops! The sensor id <span id="sensor_id"></span> seems to no longer be in the device.</p>
    <p id="sensor_id_error_p2">Select a new sensor id from the Device Manager</p>
    <div id="values_chart" class="plot_center">
      <script type="text/javascript" src="{{ url_for('static', filename='js/plot_values_chart.js') }}"></script>
    </div>
    <br>
    {% endif %}
  </div>
</body>

</html>