body {
    background-color: #f1f1f1;
}



.MuiTypography-noWrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.MuiTypography-h1 {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}
.MuiTypography-root {
    margin: 0;
}
*, *::before, *::after {
    box-sizing: inherit;
}
h1 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.jssWA1 {
    color: unset;
    background: #f1f1f1;
    box-shadow: 0 0 2px #f1f1f1;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}




.jssWA3 {
    width: calc(100% - 1px);
    margin: 8px;
}
.jssWA3 {
    margin: 16px;
    text-align: left;
    padding-left: 10px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 10pt;
}
.jssWA2 {
    display: inline-block;
    max-width: 345px;
    vertical-align: top;
}
.MuiCard-root {
    overflow: hidden;
}
.MuiPaper-elevation1 {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}
.MuiPaper-rounded {
    border-radius: 4px;
}
.MuiPaper-root {
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
}



.fancy {
    position: relative;
    background-color: #fff;
    text-align: left;
    max-width: 400px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
  
.fancy::before {
    content: "";
  
    position : absolute;
    z-index  : -1;
    bottom   : 15px;
    right    : 5px;
    width    : 50%;
    top      : 80%;
    max-width: 400px;

}


.center {
    margin-left: 2%;
    margin-top: 3%;
}

.inset h2 {
    color: #000;
    font-family:"Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 1;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    /* text-shadow: -1px -1px 1px #000, 1px 1px 1px #ccc; */
}



.toggle {
    position: relative;
}
  
.toggle input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
.toggle .onoff {
    color: #1b2431;
    font-size: 1em;
    display: block;
    margin-left: 3.5%;

}

.slider {
    position: relative;
    margin-left: 3.5%;
    display: block;
    cursor: pointer;
    background-color: #33455e;
    transition: 0.4s;
    width: 100px;
    height: 40px;
}
  
.slider:before {
    content: "";
    position: absolute;
    margin-left: 3.5%;
    height: 20px;
    width: 20px;
    background-color: #fff;
    transition: 0.4s;
    top: 10px;
    left: 10px;
}
  
input:checked + .slider {
    background-color: #fd5d00;
    box-shadow: 0 0 12px #fd5d00;
}
  
input:checked + .slider:before {
    transform: translateX(50px);
}
  
.slider.round {
    border-radius: 20px;
}
.slider.round::before {
    border-radius: 20px;
}

